[submodule "simple-repo1"]
	path = simple-repo1
	url = https://github.com/bisban143/simple-repo1.git
	branch = main
[submodule "simple-repo2"]
	path = simple-repo2
	url = https://github.com/bisban143/simple-repo2.git
	branch = main
[submodule "simple-repo3"]
	path = simple-repo3
	url = https://github.com/bisban143/simple-repo3.git
	branch = main
